.open-sans {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 800;
  color: #818181;
}

.lower-open-sans {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 400;
  color: #818181;
}

/* CSS */
.custom-select {
padding: 8px 16px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 4px;
background-color: #f8f8f8;
cursor: pointer;
position: relative; /* Required for pseudo-elements */
}

.custom-select:hover {
background-color: #eaeaea;
}

.custom-select:focus {
outline: none;
border-color: #66afe9;
box-shadow: 0 0 0 2px rgba(102, 175, 233, 0.6);
}

.custom-select option:hover {
background-color: #eaeaea;
}

.select-wrapper {
margin-left: auto;
}

/* Hide the default arrow on Chrome and Safari */
.custom-select::-webkit-inner-spin-button,
.custom-select::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Hide the default arrow on Firefox */
.custom-select::-moz-focus-inner {
border: 0;
}
