<!-- <div class="select-wrapper">
    <select class="custom-select" (change)="onYearChange($event)">
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        Add options for other years
    </select>
</div> -->

<div class="charts-container">
    <div class="chart-wrapper">
        <app-chart></app-chart>
    </div>
    <div class="chart-wrapper">
        <!-- <app-line-area-chart [selectedYear]="selectedYear"></app-line-area-chart> -->
        <app-donut-chart></app-donut-chart>
    </div>
</div>
