.charts-container {
    padding: 30px;
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    gap: 20px;
  }
  
  .chart-wrapper {
    flex: 1;
    margin-right: 10px; /* Adjust spacing between charts */
  }
  