.open-sans {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: 800;
    color: #818181;
  }

  .lower-open-sans {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: 400;
    color: #818181;
  }
  